{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier le Commentaire</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('app_commentaire_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
