<div class="container mt-5">
    <h1 class="mb-4">Détails du Commentaire</h1>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Contenu :</h5>
            <p class="card-text">{{ commentaire.contenu }}</p>

           
            
        </div>
    </div>

  
</div>
